.phase {
  display: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.phase.active {
  display: block;
}

.phase0 {
  background: #000000;
}

.phase0 .target {
  width: 2px;
  height: 2px;
  margin: 0 auto;
  position: relative;
  top: 49%;
  display: block;
  background: #ffffff;
  transition: 2s ease-in-out;
  -webkit-transition: 2s ease-in-out;
}

.phase0 > .target.animate {
  top: 0%;
  width: 100%;
  height: 100%;
}

.phase1 {
  background: #ff0000;
}
